{% extends 'base.html' %}
{% load bootstrap3 %}

{% block body_classes %}red{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form class="form login" method="POST">

                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" value="login" class="btn btn-primary">
                            Logg inn
                        </button>
                    {% endbuttons %}
                    <a href="{% url 'password_reset' %}">Glemt passord</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}