{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
{% if form.errors %}
<p>Brukernavn og passord stemmer ikke. Vennligst prøv igjen.</p>
{% endif %}

{% comment %}<form method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form">
{% csrf_token %}
<div class="form-group">
{{ form.username.label_tag|crispy }}
{{ form.username|crispy }}
</div>
<div class="form-group">
{{ form.password.label_tag }}
{{ form.password }}
</div>
<input class="btn" type="submit" value="Logg inn" />
<input type="hidden" name="next" value="{{ next }}" />
{{ form|crispy }}
</form>{% endcomment %}

{% crispy form %}

{% endblock %}