<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Musikerlåfte'{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="{{STATIC_URL}}js/html5shiv.js"></script>
    <![endif]-->

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
      href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
      href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
      href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
<link rel="icon" type="image/png" href="{{ STATIC_URL }}ico/favicon.png">
</head>

<body>
<div id="wrap">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Musikerlåfte'</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% url 'home' as home_url %}
          <li {% if request.path == home_url %}class="active"{% endif %}><a
              href="{{ home_url }}">Forside</a></li>
          {% url 'info' as info_url %}
          <li {% if request.path == info_url %}class="active"{% endif %}><a href="{{ info_url }}">Info</a>
          </li>
          {% url 'contact' as contact_url %}
          <li {% if request.path == contact_url %}class="active"{% endif %}><a href="{{ contact_url }}">Kontakt</a>
          </li>
          <li class="dropdown{% if request.path|slice:":13" == "/grupperinger" %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Grupperinger <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for page in group_list %}
                {% url 'group' page.slug as page_url %}
                <li {% if request.path == page_url %}class="active"{% endif %}><a
                    href="{{ page_url }}">{{ page.page_name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>

        {% if user.is_authenticated %}
          <a class="btn btn-default navbar-btn navbar-right" href="{% url 'logout' %}?next={{ request.path }}">Logg ut</a>
          <p class="nav navbar-text navbar-right">Logget inn som {{ user.username }}. <br /></p>
        {% else %}
          {#            <form class="navbar-form pull-right" action="{% url 'django.contrib.auth.views.login' %}">#}
          {#                <input class="col-md-2" type="text" placeholder="Brukernavn">#}
          {#                <input class="col-md-2" type="password" placeholder="Passord">#}
          {#                <button type="submit" class="btn">Logg inn</button>#}
          {#                <input type="hidden" name="next" value="{{ request.path }}" />#}
          {#            </form>#}
          <a class="btn btn-default navbar-btn navbar-right" href="{% url 'login' %}?next={{ request.path }}">Logg inn</a>
        {% endif %}

      </div>
      <!--/.navbar-collapse -->
    </div>
  </div>
  {% if login_form.errors %}
    <div id="login_error" class="alert col-md-2">
      <a class="close" data-dismiss="alert">&times;</a>
      Feil brukernavn eller passord!
    </div>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        {% if request.path == info_url %}
          <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="0" data-offset-bottom="50">
            {% for i in "xxxxxxxxxx" %}
              <li><a href="#test{{ forloop.counter0 }}">Test {{ forloop.counter0 }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div id="content" class="col-md-8">
          {% block content %}
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="jumbotron">
              <h1>Hello, world!</h1>

              {{ login_form.errors }}

              <p>This is a template for a simple marketing or informational website. It includes a large
                callout called the
                hero unit and three supporting pieces of content. Use it as a starting point to create
                something more
                unique.</p>

              <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-6">
                <h2>Heading</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                  commodo, tortor mauris
                  condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                  magna mollis euismod.
                  Donec sed odio dui. </p>

                <p><a class="btn" href="#">View details &raquo;</a></p>
              </div>
              <div class="col-md-6">
                <h2>Heading</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                  commodo, tortor mauris
                  condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                  magna mollis euismod.
                  Donec sed odio dui. </p>

                <p><a class="btn" href="#">View details &raquo;</a></p>
              </div>
            </div>

            <hr>
          {% endblock %}
      </div>
    </div>
  </div>
  <!-- /container -->
  <div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <p class="muted credit">
      &copy; Studentersamfundets Orkester {% now "Y" %}
    </p>
  </div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
  {#$('.bs-docs-sidenav').affix()#}
  {#var container       =   $('#container')#}
  {#var topPosition     =   container.position().top#}
  {#var bottomPosition  =   (container.height() + topPosition);#}

  {#$('.bs-docs-sidenav').affix({#}
  {#    offset: {#}
  {#        top     :   100,#}
  {#        bottom  :   130#}
  {#        }#}
  {#    });#}
</script>
</body>
</html>
